<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#resources" data-toc-modified-id="resources-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>resources</a></span><ul class="toc-item"><li><span><a href="#gcmd" data-toc-modified-id="gcmd-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>gcmd</a></span><ul class="toc-item"><li><span><a href="#as-a-table" data-toc-modified-id="as-a-table-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>as a table</a></span></li><li><span><a href="#as-a-dictionary" data-toc-modified-id="as-a-dictionary-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>as a dictionary</a></span></li></ul></li></ul></li><li><span><a href="#gcmd-keyword-summaries" data-toc-modified-id="gcmd-keyword-summaries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>gcmd keyword summaries</a></span><ul class="toc-item"><li><span><a href="#MimeType" data-toc-modified-id="MimeType-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>MimeType</a></span></li><li><span><a href="#chronounits" data-toc-modified-id="chronounits-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>chronounits</a></span></li><li><span><a href="#horizontalresolutionrange" data-toc-modified-id="horizontalresolutionrange-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>horizontalresolutionrange</a></span></li><li><span><a href="#instruments" data-toc-modified-id="instruments-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>instruments</a></span></li><li><span><a href="#locations" data-toc-modified-id="locations-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>locations</a></span></li><li><span><a href="#platforms" data-toc-modified-id="platforms-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>platforms</a></span></li><li><span><a href="#projects" data-toc-modified-id="projects-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>projects</a></span></li><li><span><a href="#providers" data-toc-modified-id="providers-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>providers</a></span></li><li><span><a href="#rucontenttype" data-toc-modified-id="rucontenttype-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>rucontenttype</a></span></li><li><span><a href="#sciencekeywords" data-toc-modified-id="sciencekeywords-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>sciencekeywords</a></span></li><li><span><a href="#temporalresolutionrange" data-toc-modified-id="temporalresolutionrange-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>temporalresolutionrange</a></span></li><li><span><a href="#verticalresolutionrange" data-toc-modified-id="verticalresolutionrange-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>verticalresolutionrange</a></span></li></ul></li><li><span><a href="#cf-standard_name-summaries" data-toc-modified-id="cf-standard_name-summaries-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>cf standard_name summaries</a></span></li><li><span><a href="#smode" data-toc-modified-id="smode-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>smode</a></span><ul class="toc-item"><li><span><a href="#datasets" data-toc-modified-id="datasets-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>datasets</a></span><ul class="toc-item"><li><span><a href="#cleanup" data-toc-modified-id="cleanup-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>cleanup</a></span></li><li><span><a href="#map/index" data-toc-modified-id="map/index-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>map/index</a></span></li></ul></li><li><span><a href="#maps" data-toc-modified-id="maps-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>maps</a></span></li><li><span><a href="#instruments" data-toc-modified-id="instruments-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>instruments</a></span></li><li><span><a href="#people" data-toc-modified-id="people-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>people</a></span></li><li><span><a href="#netcdf" data-toc-modified-id="netcdf-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>netcdf</a></span><ul class="toc-item"><li><span><a href="#global-attributes" data-toc-modified-id="global-attributes-4.5.1"><span class="toc-item-num">4.5.1&nbsp;&nbsp;</span>global attributes</a></span></li></ul></li></ul></li></ul></div>

# SMODE Metadata Merge 

This notebook will use pandas and the GCMD Keyword API to harvest and populate smode metadata to the max extent possible. Then, we'll see where to go from there.

* integrate cf standard_names

In [1]:
from glob import glob
from json import load, dumps
from urllib.request import urlopen
from os.path import isfile, splitext
from pandas import read_csv, read_excel, concat, DataFrame

In [2]:
!pwd

/Users/jmcnelis/Projects/podaac-git.jpl.nasa.gov/data-publication-docs/smode-data-pub/notebooks

In [3]:
ref = {d: [f for f in glob(f"../gcmd/{d}/*")] for d in ['rdf', 'xml', 'json', 'csv']}
ref

{'rdf': ['../gcmd/rdf/horizontalresolutionrange.rdf',
  '../gcmd/rdf/providers.rdf',
  '../gcmd/rdf/chronounits.rdf',
  '../gcmd/rdf/verticalresolutionrange.rdf',
  '../gcmd/rdf/instruments.rdf',
  '../gcmd/rdf/sciencekeywords.rdf',
  '../gcmd/rdf/projects.rdf',
  '../gcmd/rdf/MimeType.rdf',
  '../gcmd/rdf/locations.rdf',
  '../gcmd/rdf/rucontenttype.rdf',
  '../gcmd/rdf/temporalresolutionrange.rdf',
  '../gcmd/rdf/platforms.rdf'],
 'xml': ['../gcmd/xml/sciencekeywords.xml',
  '../gcmd/xml/instruments.xml',
  '../gcmd/xml/MimeType.xml',
  '../gcmd/xml/projects.xml',
  '../gcmd/xml/locations.xml',
  '../gcmd/xml/rucontenttype.xml',
  '../gcmd/xml/platforms.xml',
  '../gcmd/xml/temporalresolutionrange.xml',
  '../gcmd/xml/horizontalresolutionrange.xml',
  '../gcmd/xml/providers.xml',
  '../gcmd/xml/verticalresolutionrange.xml',
  '../gcmd/xml/chronounits.xml'],
 'json': ['../gcmd/json/locations.json',
  '../gcmd/json/MimeType.json',
  '../gcmd/json/chronounits.json',
  '../gcmd/json/providers.json',
  '../gcmd/json/instruments.json',
  '../gcmd/json/horizontalresolutionrange.json',
  '../gcmd/json/sciencekeywords.json',
  '../gcmd/json/projects.json',
  '../gcmd/json/rucontenttype.json',
  '../gcmd/json/temporalresolutionrange.json',
  '../gcmd/json/verticalresolutionrange.json',
  '../gcmd/json/platforms.json'],
 'csv': ['../gcmd/csv/providers.csv',
  '../gcmd/csv/chronounits.csv',
  '../gcmd/csv/verticalresolutionrange.csv',
  '../gcmd/csv/horizontalresolutionrange.csv',
  '../gcmd/csv/rucontenttype.csv',
  '../gcmd/csv/locations.csv',
  '../gcmd/csv/platforms.csv',
  '../gcmd/csv/temporalresolutionrange.csv',
  '../gcmd/csv/instruments.csv',
  '../gcmd/csv/sciencekeywords.csv',
  '../gcmd/csv/MimeType.csv',
  '../gcmd/csv/projects.csv']}

## resources

Read some resource files version controlled by this repo.

### gcmd

In [4]:
KEYWORDS = {}
for j in ref['json']:
    fn = j[13:-5]
    with open(f"../gcmd/json/{fn}.json", "r") as f:
        kwjson = load(f)
    try:
        kwcsv = read_csv(f"../gcmd/csv/{fn}.csv", header=1)
    except Exception as e:
        print(f"""{"-"*75}\n WARNING | Failed to parse {j[5:-5]}.csv  \n{"-"*75}\n {e}\n""")
        kwcsv = None
    KEYWORDS[fn[0:]] = (kwcsv, kwjson)
    
list(KEYWORDS.keys())

---------------------------------------------------------------------------
 WARNING | Failed to parse md/json/locations.csv
---------------------------------------------------------------------------
 Error tokenizing data. C error: Expected 6 fields in line 377, saw 7


---------------------------------------------------------------------------
 WARNING | Failed to parse md/json/projects.csv
---------------------------------------------------------------------------
 Error tokenizing data. C error: Expected 4 fields in line 1306, saw 5


---------------------------------------------------------------------------
 WARNING | Failed to parse md/json/platforms.csv
---------------------------------------------------------------------------
 Error tokenizing data. C error: Expected 5 fields in line 757, saw 6

['locations',
 'MimeType',
 'chronounits',
 'providers',
 'instruments',
 'horizontalresolutionrange',
 'sciencekeywords',
 'projects',
 'rucontenttype',
 'temporalresolutionrange',
 'verticalresolutionrange',
 'platforms']

In [5]:
!ls ../gcmd/json

MimeType.json                  projects.json
chronounits.json               providers.json
horizontalresolutionrange.json rucontenttype.json
instruments.json               sciencekeywords.json
locations.json                 temporalresolutionrange.json
platforms.json                 verticalresolutionrange.json

#### as a table

Flat for convenient summarization and indexing/searching/mapping.

In [6]:
KEYWORDS['sciencekeywords'][0].iloc[0]

Category                           EARTH SCIENCE SERVICES
Topic                     DATA ANALYSIS AND VISUALIZATION
Term                               CALIBRATION/VALIDATION
Variable_Level_1                              CALIBRATION
Variable_Level_2                                      NaN
Variable_Level_3                                      NaN
Detailed_Variable                                     NaN
UUID                 ecf29317-bd5e-447b-b911-f8bfb153c83b
Name: 0, dtype: object

#### as a dictionary

Nested for easier processing the keyword hierarchies. They have inconsistent depths across and within.

In [7]:
KEYWORDS['sciencekeywords'][1].keys()

dict_keys(['termsOfUse', 'keywordVersion', 'schemeVersion', 'concepts'])

In [8]:
KEYWORDS['sciencekeywords'][1]['concepts'][:3]

[{'id': 552245,
  'uuid': '1eb0ea0a-312c-4d74-8d42-6f1ad758f999',
  'prefLabel': 'Science Keywords',
  'conceptScheme': 'sciencekeywords',
  'isLeaf': 'false'},
 {'id': 552247,
  'uuid': 'df160e31-ae45-41a4-9093-a80fe5303cea',
  'prefLabel': 'ATMOSPHERIC WINDS',
  'conceptScheme': 'sciencekeywords',
  'isLeaf': 'false'},
 {'id': 552249,
  'uuid': 'c47f6052-634e-40ef-a5ac-13f69f6f4c2a',
  'prefLabel': 'ATMOSPHERE',
  'conceptScheme': 'sciencekeywords',
  'isLeaf': 'false'}]

## gcmd keyword summaries

Summarize the keyword categories to their terminal depths. We want the unique options for each.

(*Some are flat, like `MimeType`. Just display those.*)

In [9]:
KEYWORDS.keys()

dict_keys(['locations', 'MimeType', 'chronounits', 'providers', 'instruments', 'horizontalresolutionrange', 'sciencekeywords', 'projects', 'rucontenttype', 'temporalresolutionrange', 'verticalresolutionrange', 'platforms'])

In [10]:
def _retrieve_keywords(uuid: str):
    return loads(urlopen(f"https://gcmd.earthdata.nasa.gov/kms/concept/{uuid}?format=json").read())

def _unique_keywords(category: str):
    return (KEYWORDS[category][0].apply(lambda x: x.unique().tolist())).to_dict()

test = _unique_keywords("sciencekeywords")
test.keys()

dict_keys(['Category', 'Topic', 'Term', 'Variable_Level_1', 'Variable_Level_2', 'Variable_Level_3', 'Detailed_Variable', 'UUID'])

In [11]:
test['Category']

['EARTH SCIENCE SERVICES', 'EARTH SCIENCE']

### MimeType

In [12]:
KEYWORDS['MimeType'][0]

,MimeType,UUID
0,application/gml+xml,40bdf6e5-780c-43e2-ab8e-e5dfae4bd779
1,application/gzip,a8ee535a-8bc8-46fd-8b97-917bd7ea7666
2,application/json,8542dd4a-a11b-475d-8d46-cad785a7f510
3,application/msword,c79a0e11-2774-4cf3-a194-45b9e58a93fd
4,application/octet-stream,b77e64ef-ce80-4dab-b552-c6062990a6e0
5,application/opensearchdescription+xml,07bcc60e-1551-44d9-b87e-7c260d230ecb
6,application/pdf,627269ae-ba93-492e-8c31-cc4de1d69810
7,application/vnd.google-earth.kml+xml,80045dcb-18ee-463a-8baf-ffcabed510ea
8,application/vnd.google-earth.kmz,f7328bf5-8ef2-4f95-a4e0-6fb16d122237
9,application/vnd.ms-excel,7c99ff72-5239-424d-a0bf-9712c33ea76d
10,application/x-bufr,e384b8a8-8cec-4230-9ebe-4db76bbef706
11,application/x-hdf5,4e80047b-c50b-4805-ac68-789dbc38803f
12,application/x-hdf,b0a3e733-4d1b-486f-b56c-c405a5e4367b
13,application/x-netcdf,2b192915-32a8-4b68-a720-8ca8a84f04ca
14,application/x-tar-gz,5e70beda-396e-4cc8-bdd5-70dfc8a1142e
15,application/x-vnd.iso.19139-2+xml,c1a8dbb7-312d-4481-998e-58d126b32080
16,application/xml,dd6c5cea-4100-4973-9ba9-659fdd7fd608
17,application/zip,4e5db77b-bc1d-4f7c-9f13-e3e54e0b2e3b
18,image/bmp,b7687b8f-7a24-4150-bd9d-28e0d53f7554
19,image/gif,ad61b259-8131-4e0e-aac8-a800a0a51ca6
20,image/jpeg,3f697f52-6a1c-4e2c-bd4b-13aaaf45f2e6
21,image/png,edb9e800-ec31-4d5c-848d-c548fd151db2
22,image/tiff,3e048f9e-8f93-4f0c-9f0b-20bafb909c68
23,image/vnd.collada+xml,d3ef6fe7-b6cd-45b4-9a27-d42fa3289116
24,text/css,3195dfce-51db-4b40-aadb-808b43573743
25,text/csv,2065aabb-9beb-4c84-8ad7-0e16cfed17cf
26,text/html,415a10b5-7286-4195-a88e-00c7b995b7d0
27,text/javascript,40cb0bdd-67f4-43c8-aa57-2bdc260e6950
28,text/markdown,b403039f-a107-4a84-88a1-29e4d1b30b0b
29,text/plain,fea4e0a7-d794-481d-9915-52f1be226714
30,text/xml,091b6afc-ab75-4790-8e71-3b32ae8bd0a4

### chronounits

In [13]:
KEYWORDS['chronounits'][0].columns

Index(['Eon', 'Era', 'Period', 'Epoch', 'Age', 'Sub-Age', 'UUID'], dtype='object')

In [14]:
KEYWORDS['chronounits'][0].describe().T

        count unique                                   top freq
Eon       183      5                           PHANEROZOIC  158
Era       178     11                             PALEOZOIC   80
Period    167     23                         CARBONIFEROUS   17
Epoch     144     24                                 EARLY   22
Age       109     96                                  LATE    6
Sub-Age     8      8                            BASHKIRIAN    1
UUID      183    183  8dff752e-939d-4b16-a735-bb4af8dbd785    1

Getting unique options down to the `Period` is satisfactory for this demo.

In [15]:
chronounits = _unique_keywords("chronounits")
print(dumps({d: chronounits[d] for d in ['Eon', 'Era', 'Period']}, indent=2))

{
  "Eon": [
    "ARCHAEAN",
    "HADEAN",
    "NOT APPLICABLE",
    "PHANEROZOIC",
    "PROTEROZOIC"
  ],
  "Era": [
    "EOARCHEAN",
    "MESOARCHEAN",
    "NEOARCHEAN",
    "PALEOARCHEAN",
    NaN,
    "NOT APPLICABLE",
    "CENOZOIC",
    "MESOZOIC",
    "PALEOZOIC",
    "MESOPROTEROZOIC",
    "NEOPROTEROZOIC",
    "PALEOPROTEROZOIC"
  ],
  "Period": [
    NaN,
    "NOT APPLICABLE",
    "NEOGENE",
    "PALEOGENE",
    "QUATERNARY",
    "CRETACEOUS",
    "JURASSIC",
    "TRIASSIC",
    "CAMBRIAN",
    "CARBONIFEROUS",
    "DEVONIAN",
    "ORDOVICIAN",
    "PERMIAN",
    "SILURIAN",
    "CALYMMIAN",
    "ECTASIAN",
    "STENIAN",
    "CRYOGENIAN",
    "EDIACARAN",
    "TONIAN",
    "OROSIRIAN",
    "RHYACIAN",
    "SIDERIAN",
    "STATHERIAN"
  ]
}

### horizontalresolutionrange

In [16]:
KEYWORDS['horizontalresolutionrange'][0].columns

Index(['Horizontal_Resolution_Range', 'UUID'], dtype='object')

In [17]:
KEYWORDS['horizontalresolutionrange'][0]

,Horizontal_Resolution_Range,UUID
0,1 km - < 10 km or approximately .01 degree - <...,6dd8224f-944e-4798-ac48-44c23a567eeb
1,1 meter - < 30 meters,abf43d91-a65d-4b3b-a6dd-593e211b2c7b
2,10 km - < 50 km or approximately .09 degree - ...,3b36beea-9637-4213-bdbe-42e878ca14df
3,100 km - < 250 km or approximately 1 degree - ...,2207b375-113b-4499-a5a6-0ae6edc2aae8
4,100 meters - < 250 meters,8d197170-3639-4850-b012-0cae4a288e2b
5,250 km - < 500 km or approximately 2.5 degr...,8d520e8b-e1c6-4c18-bf8a-7a41b006f66f
6,250 meters - < 500 meters,e5c4876e-47b7-4d53-90a2-081a6b150140
7,30 meters - < 100 meters,437daa1f-f584-4afc-9104-b245f3a3d26d
8,50 km - < 100 km or approximately .5 degree -...,35a7a6f2-69fe-4ba7-a2b5-91f83f52afb3
9,500 km - < 1000 km or approximately 5 degrees ...,e2d588c7-76a5-4655-bfaf-bf66874b61c4
10,500 meters - < 1 km,9e5ebee1-3ba2-4522-8d90-7ddf47987581
11,< 1 meter,08e4b31c-0be3-49cd-9374-caac345e7402
12,> 1000 km or > 10 degrees,c19001e4-dfbf-491b-b6d5-c4d0cee8f2fe
13,Point Resolution,75c9d806-9e29-40f5-b479-4c63c90f77a9

### instruments

In [18]:
KEYWORDS['instruments'][0].columns

Index(['Category', 'Class', 'Type', 'Subtype', 'Short_Name', 'Long_Name',
       'UUID'],
      dtype='object')

In [19]:
KEYWORDS['instruments'][0].describe().T

           count unique                                   top freq
Category    1778      4      Earth Remote Sensing Instruments  983
Class       1772     26                Passive Remote Sensing  776
Type        1117     31             Spectrometers/Radiometers  407
Subtype      762     42     Imaging Spectrometers/Radiometers  186
Short_Name  1664   1643                         GNSS RECEIVER    7
Long_Name   1214   1199                     Wide Field Imager    2
UUID        1778   1778  2b2d61c1-30be-429d-8bc3-9ca8b81b4400    1

In [20]:
instruments = _unique_keywords("instruments")
instruments.keys()

dict_keys(['Category', 'Class', 'Type', 'Subtype', 'Short_Name', 'Long_Name', 'UUID'])

Should be satisfactory to summarize options to depth four (`"SubType"`).

In [21]:
print(dumps({d: instruments[d] for d in ['Category', 'Class', 'Type', 'Subtype']}, indent=2))

{
  "Category": [
    "Earth Remote Sensing Instruments",
    "In Situ/Laboratory Instruments",
    "NOT APPLICABLE",
    "Solar/Space Observing Instruments"
  ],
  "Class": [
    "Active Remote Sensing",
    "Passive Remote Sensing",
    NaN,
    "Chemical Meters/Analyzers",
    "Conductivity Sensors",
    "Corers",
    "Current/Wind Meters",
    "Data Analysis",
    "Electrical Meters",
    "Gauges",
    "Magnetic/Motion Sensors",
    "Photon/Optical Detectors",
    "Pressure/Height Meters",
    "Probes",
    "Profilers/Sounders",
    "Radiation Sensors",
    "Recorders/Loggers",
    "Samplers",
    "Spectrometers/Radiometers",
    "Temperature/Humidity Sensors",
    "NOT APPLICABLE",
    "Magnetic Field/Electric Field Instruments",
    "Particle Detectors",
    "Radio Wave Detectors",
    "Ultraviolet Instruments",
    "Visible/Infrared Instruments",
    "X-Ray/Gamma Ray Detectors"
  ],
  "Type": [
    "Altimeters",
    "Imaging Radars",
    "Positioning/Navigation",
    "Profilers/Sounders",
    "Scatterometers",
    "Spectrometers/Radiometers",
    NaN,
    "Magnetic Field/Electric Field Instruments",
    "Magnetic/Motion Sensors",
    "Photon/Optical Detectors",
    "Pyrometers",
    "Thermal/Radiation Detectors",
    "Environmental Modeling",
    "Accelerometers",
    "Gravimeters",
    "Seismometers",
    "Cameras",
    "Acoustic Sounders",
    "Ceptometers",
    "Bottles/Flasks/Jars",
    "Grabbers/Traps/Collectors",
    "Trawls/Nets",
    "Hyperspectral Spectrometers/Radiometers",
    "Hydrometers",
    "Hydrothermographs",
    "Hygrometers",
    "Hypsometers",
    "Thermistors",
    "Thermocouples",
    "Thermometers",
    "Charged Coupled Devices",
    "Telescopes"
  ],
  "Subtype": [
    "Lidar/Laser Altimeters",
    "Radar Altimeters",
    NaN,
    "Laser Ranging",
    "Acoustic Sounders",
    "Lidar/Laser Sounders",
    "Radar Sounders",
    "Radio Sounders",
    "Lidar/Laser Spectrometers",
    "Radar Spectrometers",
    "Pressure Altimeters",
    "Composition Analyzer",
    "Gun Detector",
    "MAGNETOMETERS",
    "Particle Detectors",
    "Probes",
    "Spectrometers",
    "Accelerometers",
    "Gravimeters",
    "Cameras",
    "JRE (CARMEN-3 + LPT)",
    "NEPHELOMETERS",
    "Passive Remote Sensing",
    "Photometers",
    "Beidou",
    "GLONASS",
    "GPS",
    "Galileo",
    "IRNSS",
    "QZSS",
    "Radar",
    "Radio",
    "SBAS",
    "GOES I-M SOUNDER",
    "GOES N-P SOUNDER",
    "Interferometers",
    "Infrared Pyrometers",
    "Hyperspectral Spectrometers/Radiometers",
    "Imaging Spectrometers/Radiometers",
    "Radiometers",
    "Spectroradiometers",
    "PYRGEOMETERS",
    "Soil Characteristics"
  ]
}

### locations

The CSV on the dumps web page is invalid. Make alternative index for `locations` here:

In [22]:
KEYWORDS['locations'] = (DataFrame(KEYWORDS['locations'][1]['concepts']), KEYWORDS['locations'][1])
KEYWORDS['locations'][0]

,id,uuid,prefLabel,conceptScheme,isLeaf
0,532709,0086ca79-d40d-4119-97d0-f5911df75a37,PALMYRA ATOLL,locations,true
1,532711,009ebc80-5561-40d1-98d9-13cbc5bd1591,NEWFOUNDLAND AND LABRADOR,locations,true
2,532713,00fdb6a0-3063-45d3-9930-71b5a9a3206c,TURKS AND CAICOS ISLANDS,locations,true
3,532715,00fdc4bb-8f93-4170-bca1-e51315b46304,KIRIBATI,locations,true
4,532717,017ac312-b650-4800-992f-5167708b4d31,HAWAII,locations,true
...,...,...,...,...,...
538,533785,feff6e5e-27be-4404-af9c-c80b56d48ad4,CYPRUS,locations,true
539,533787,ff03e9fc-9882-4a5e-ad0b-830d8f1186cb,OCEAN,locations,false
540,533789,ff1cfc9c-5e73-4137-b8e1-d6f4e83e61c4,ITALY,locations,true
541,533791,ff28159f-dbc2-4585-bbfd-fbc8cabbffe3,CZECH REPUBLIC,locations,true
542,533793,ffcee960-5527-43e0-bfd0-ad48b1151cf0,ALBANIA,locations,true

### platforms

The CSV on the dumps web page is invalid. Make alternative index for `platforms` here:

In [23]:
KEYWORDS['platforms'] = (DataFrame(KEYWORDS['platforms'][1]['concepts']), KEYWORDS['platforms'][1])
KEYWORDS['platforms'][0]

,id,uuid,prefLabel,conceptScheme,isLeaf
0,541125,00274700-26c1-4c44-88a4-10a7ec6214de,GLONASS,platforms,true
1,541127,007c3084-89db-458e-8387-14e192b6cb8e,SENTINEL-1,platforms,false
2,541129,00f8ab1f-040f-40b4-ba64-9f6a4c2ca7ed,MICOM,platforms,true
3,541131,019b76a2-3576-4a03-a91f-8519319d66ee,STS-62,platforms,true
4,541133,01b319ce-cbe2-4894-bb33-04c43ceef23b,CALIPSO,platforms,true
...,...,...,...,...,...
987,542993,feb61055-a920-4fe3-90a2-caac0c4fd08a,SGO,platforms,true
988,542995,fecf6a37-ffa9-4e11-90cf-1abfeb95cb95,IMS,platforms,false
989,542997,ff0ed18d-c476-4dc4-a248-d42ad74bb4a1,WORLDVIEW-2,platforms,true
990,542999,ff2141a6-5682-44da-88fc-9a4e78de35ad,Resurs DK 1,platforms,true
991,543001,ff60d0cf-4665-40b6-b375-dd59dba896f9,OGO-4,platforms,true

In [24]:
KEYWORDS['platforms'][0]

,id,uuid,prefLabel,conceptScheme,isLeaf
0,541125,00274700-26c1-4c44-88a4-10a7ec6214de,GLONASS,platforms,true
1,541127,007c3084-89db-458e-8387-14e192b6cb8e,SENTINEL-1,platforms,false
2,541129,00f8ab1f-040f-40b4-ba64-9f6a4c2ca7ed,MICOM,platforms,true
3,541131,019b76a2-3576-4a03-a91f-8519319d66ee,STS-62,platforms,true
4,541133,01b319ce-cbe2-4894-bb33-04c43ceef23b,CALIPSO,platforms,true
...,...,...,...,...,...
987,542993,feb61055-a920-4fe3-90a2-caac0c4fd08a,SGO,platforms,true
988,542995,fecf6a37-ffa9-4e11-90cf-1abfeb95cb95,IMS,platforms,false
989,542997,ff0ed18d-c476-4dc4-a248-d42ad74bb4a1,WORLDVIEW-2,platforms,true
990,542999,ff2141a6-5682-44da-88fc-9a4e78de35ad,Resurs DK 1,platforms,true
991,543001,ff60d0cf-4665-40b6-b375-dd59dba896f9,OGO-4,platforms,true

Start here later.

```python
def _fix_platforms(uuid: str):
    data = _retrieve_keywords(uuid)
    try:
        return data['altLabels'][0]['text']
    except KeyError as e:
        return data['broader']

KEYWORDS['platforms'][0]['altLabels'] = KEYWORDS['platforms'][0].uuid.apply(_fix_platforms)
KEYWORDS['platforms'][0]
```

### projects

In [25]:
KEYWORDS['projects'] = (DataFrame(KEYWORDS['projects'][1]['concepts']), KEYWORDS['projects'][1])
KEYWORDS['projects'][0]

,id,uuid,prefLabel,conceptScheme,isLeaf
0,546435,00230dbe-8532-4644-b241-79533b808846,PPGM,projects,true
1,546437,004d93e3-1a3b-4308-9917-d522e822f1d3,MERGE,projects,true
2,546439,006d842b-9c63-498f-b198-9afdc16c91b6,CEAREX,projects,true
3,546441,00923bad-d9ac-4093-aca3-83d3e9ae3171,CREEFS,projects,true
4,546443,00ab1bb7-6b30-4be0-9ef5-68b5af38d991,BDBP,projects,true
...,...,...,...,...,...
1797,560400,836912f3-2ae4-4b5c-8c0a-c8e3d7b10bce,TSIS,projects,true
1798,560402,131f1025-4fea-44e3-accf-c68c758c570b,Aeolus,projects,true
1799,560514,06e9cf54-c97d-4e49-9810-5f8cc4812757,PISTON,projects,true
1800,560522,18e56193-e740-44c1-b605-4ad9a3f33f16,Hypoxia Watch,projects,true
1801,560524,c1fd707d-420e-4236-bb00-cdfcc0287400,R2R,projects,true

### providers

In [26]:
KEYWORDS['providers'][0].columns

Index(['Bucket_Level0', 'Bucket_Level1', 'Bucket_Level2', 'Bucket_Level3',
       'Short_Name', 'Long_Name', 'Data_Center_URL', 'UUID'],
      dtype='object')

In [27]:
KEYWORDS['providers'][0].iloc[0]

Bucket_Level0                                  ACADEMIC
Bucket_Level1                                   GERMANY
Bucket_Level2                                       NaN
Bucket_Level3                                       NaN
Short_Name                                       DE/DLR
Long_Name                 German Aerospace Center (DLR)
Data_Center_URL                                     NaN
UUID               2f9d7c12-c02d-41fb-a168-4d91794187f7
Name: 0, dtype: object

In [28]:
providers = _unique_keywords("providers")
providers.keys()

dict_keys(['Bucket_Level0', 'Bucket_Level1', 'Bucket_Level2', 'Bucket_Level3', 'Short_Name', 'Long_Name', 'Data_Center_URL', 'UUID'])

In [29]:
KEYWORDS['providers'][0][['Short_Name', 'Long_Name', 'Data_Center_URL']].describe().T

,count,unique,top,freq
Short_Name,3533,3533,DOC/NOAA/NOS/NCCOS,1
Long_Name,3497,3487,"Coastal Engineering Research Center, Coastal a...",2
Data_Center_URL,3484,3415,http://www.statcan.ca/english/reference/refcen...,3

### rucontenttype

In [30]:
KEYWORDS['rucontenttype'][0].columns

Index(['Type', 'Subtype', 'UUID'], dtype='object')

In [31]:
KEYWORDS['rucontenttype'][0].describe().T

        count unique                                   top freq
Type       77     10              VIEW RELATED INFORMATION   27
Subtype    67     66                              GIOVANNI    2
UUID       77     77  f00cf885-8fc5-42ca-a70e-1689530f00cf    1

In [32]:
rucontenttype = _unique_keywords("rucontenttype")
rucontenttype.keys()

dict_keys(['Type', 'Subtype', 'UUID'])

In [33]:
print(dumps({d: rucontenttype[d] for d in rucontenttype.keys() if d in ['Type', 'Subtype']}, indent=2))

{
  "Type": [
    "DATA SET LANDING PAGE",
    "DOWNLOAD SOFTWARE",
    "EXTENDED METADATA",
    "GET DATA",
    "GET RELATED VISUALIZATION",
    "GOTO WEB TOOL",
    "PROFESSIONAL HOME PAGE",
    "PROJECT HOME PAGE",
    "USE SERVICE API",
    "VIEW RELATED INFORMATION"
  ],
  "Subtype": [
    NaN,
    "MOBILE APP",
    "APPEEARS",
    "DATA COLLECTION BUNDLE",
    "DATA TREE",
    "DATACAST URL",
    "DIRECT DOWNLOAD",
    "EOSDIS DATA POOL",
    "Earthdata Search",
    "GIOVANNI",
    "GoLIVE Portal",
    "IceBridge Portal",
    "LAADS",
    "LANCE",
    "MIRADOR",
    "MODAPS",
    "NOAA CLASS",
    "NOMADS",
    "Order",
    "PORTAL",
    "Subscribe",
    "USGS EARTH EXPLORER",
    "VERTEX",
    "VIRTUAL COLLECTION",
    "MAP",
    "WORLDVIEW",
    "LIVE ACCESS SERVER (LAS)",
    "MAP VIEWER",
    "SIMPLE SUBSET WIZARD (SSW)",
    "SUBSETTER",
    "GRADS DATA SERVER (GDS)",
    "MAP SERVICE",
    "OPENDAP DATA",
    "OpenSearch",
    "SERVICE CHAINING",
    "TABULAR DATA STREAM (TDS)",
    "THREDDS DATA",
    "WEB COVERAGE SERVICE (WCS)",
    "WEB FEATURE SERVICE (WFS)",
    "WEB MAP SERVICE (WMS)",
    "WEB MAP TILE SERVICE (WMTS)",
    "ALGORITHM DOCUMENTATION",
    "ALGORITHM THEORETICAL BASIS DOCUMENT (ATBD)",
    "ANOMALIES",
    "CASE STUDY",
    "DATA CITATION POLICY",
    "DATA QUALITY",
    "DATA RECIPE",
    "DELIVERABLES CHECKLIST",
    "GENERAL DOCUMENTATION",
    "HOW-TO",
    "IMPORTANT NOTICE",
    "INSTRUMENT/SENSOR CALIBRATION DOCUMENTATION",
    "MICRO ARTICLE",
    "PI DOCUMENTATION",
    "PROCESSING HISTORY",
    "PRODUCT HISTORY",
    "PRODUCT QUALITY ASSESSMENT",
    "PRODUCT USAGE",
    "PRODUCTION HISTORY",
    "PUBLICATIONS",
    "READ-ME",
    "REQUIREMENTS AND DESIGN",
    "SCIENCE DATA PRODUCT SOFTWARE DOCUMENTATION",
    "SCIENCE DATA PRODUCT VALIDATION",
    "USER FEEDBACK PAGE",
    "USER'S GUIDE"
  ]
}

### sciencekeywords

In [34]:
KEYWORDS['sciencekeywords'][0].columns

Index(['Category', 'Topic', 'Term', 'Variable_Level_1', 'Variable_Level_2',
       'Variable_Level_3', 'Detailed_Variable', 'UUID'],
      dtype='object')

In [35]:
KEYWORDS['sciencekeywords'][0].describe().T

                  count unique                                   top  freq
Category           3283      2                         EARTH SCIENCE  3093
Topic              3281     23                            ATMOSPHERE   582
Term               3258    195        GEOMORPHIC LANDFORMS/PROCESSES   436
Variable_Level_1   3057   1026                     TROPICAL CYCLONES    90
Variable_Level_2   1742    983                         SEDIMENTATION    32
Variable_Level_3    506    291   HURRICANES (N. ATLANTIC/E. PACIFIC)    16
Detailed_Variable    17     17                      HYDROGEN ISOTOPE     1
UUID               3283   3283  51ce7da1-b441-474f-b7e5-cedaa04903f7     1

In [36]:
sciencekeywords = _unique_keywords("sciencekeywords")
sciencekeywords.keys()

dict_keys(['Category', 'Topic', 'Term', 'Variable_Level_1', 'Variable_Level_2', 'Variable_Level_3', 'Detailed_Variable', 'UUID'])

In [37]:
print(dumps({d: sciencekeywords[d] for d in ['Category', 'Topic', 'Term']}, indent=2))

{
  "Category": [
    "EARTH SCIENCE SERVICES",
    "EARTH SCIENCE"
  ],
  "Topic": [
    "DATA ANALYSIS AND VISUALIZATION",
    "DATA MANAGEMENT/DATA HANDLING",
    "EDUCATION/OUTREACH",
    "ENVIRONMENTAL ADVISORIES",
    "HAZARDS MANAGEMENT",
    "METADATA HANDLING",
    "MODELS",
    "REFERENCE AND INFORMATION SERVICES",
    "WEB SERVICES",
    NaN,
    "AGRICULTURE",
    "ATMOSPHERE",
    "BIOLOGICAL CLASSIFICATION",
    "BIOSPHERE",
    "CLIMATE INDICATORS",
    "CRYOSPHERE",
    "HUMAN DIMENSIONS",
    "LAND SURFACE",
    "OCEANS",
    "PALEOCLIMATE",
    "SOLID EARTH",
    "SPECTRAL/ENGINEERING",
    "SUN-EARTH INTERACTIONS",
    "TERRESTRIAL HYDROSPHERE"
  ],
  "Term": [
    "CALIBRATION/VALIDATION",
    "DATA ANALYSIS",
    "DATA VISUALIZATION",
    "GEOGRAPHIC INFORMATION SYSTEMS",
    "GLOBAL POSITIONING SYSTEMS",
    "IMAGE PROCESSING",
    "STATISTICAL APPLICATIONS",
    NaN,
    "ARCHIVING",
    "CATALOGING",
    "DATA ACCESS/RETRIEVAL",
    "DATA COMPRESSION",
    "DATA CUSTOMIZATION",
    "DATA DELIVERY",
    "DATA INTEROPERABILITY",
    "DATA MINING",
    "DATA NETWORKING/DATA TRANSFER TOOLS",
    "DATA SEARCH",
    "DATA SUBSETTING/SUPERSETTING",
    "DATA TRANSFORMATION/CONVERSION",
    "MEDIA TRANSFER/DATA RESCUE",
    "CURRICULUM SUPPORT",
    "EXHIBIT MATERIALS",
    "INTERACTIVE PROGRAMS",
    "AGRICULTURAL ADVISORIES",
    "FIRE ADVISORIES",
    "GEOLOGICAL ADVISORIES",
    "HEALTH ADVISORIES",
    "HYDROLOGICAL ADVISORIES",
    "MARINE ADVISORIES",
    "SPACE WEATHER ADVISORIES",
    "WEATHER/CLIMATE ADVISORIES",
    "DISASTER RECOVERY/RELIEF",
    "DISASTER RESPONSE",
    "HAZARDS MAPPING",
    "HAZARDS MITIGATION",
    "HAZARDS PLANNING",
    "AUTHORING TOOLS",
    "DATA DISCOVERY",
    "METADATA TRANSFORMATION/CONVERSION",
    "SERVICE DISCOVERY",
    "ANCILLARY MODELS",
    "ATMOSPHERIC CHEMISTRY MODELS",
    "ATMOSPHERIC GENERAL CIRCULATION MODELS",
    "CARBON CYCLE/CARBON BUDGET MODELS",
    "CLIMATE CHANGE IMPACT ASSESSMENT MODELS",
    "COMPONENT PROCESS MODELS",
    "COUPLED CLIMATE MODELS",
    "CRYOSPHERE MODELS",
    "DIGITAL ELEVATION/DIGITAL TERRAIN MODELS",
    "DYNAMIC VEGETATION/ECOSYSTEM MODELS",
    "EARTH SCIENCE REANALYSES/ASSIMILATION MODELS",
    "GEOLOGIC/TECTONIC/PALEOCLIMATE MODELS",
    "GLACIO-HYDROLOGICAL MODELS",
    "HYDROLOGIC AND TERRESTRIAL WATER CYCLE MODELS",
    "LAND SURFACE MODELS",
    "OCEAN GENERAL CIRCULATION MODELS (OGCM)/REGIONAL OCEAN MODELS",
    "PHENOMENOLOGICAL MODELS",
    "PHYSICAL/LABORATORY MODELS",
    "REGULATORY MODELS",
    "SOCIAL AND ECONOMIC MODELS",
    "SOLAR-ATMOSPHERE/SPACE-WEATHER MODELS",
    "SPECIES DISTRIBUTION MODELS",
    "WEATHER RESEARCH/FORECAST MODELS",
    "BIBLIOGRAPHIC",
    "DIGITAL/VIRTUAL REFERENCE DESKS",
    "GAZETTEER",
    "IDENTIFICATION/CLASSIFICATION SYSTEMS",
    "KNOWLEDGE/DECISION SYSTEMS",
    "SUBSCRIPTION SERVICES",
    "THESAURI",
    "DATA APPLICATION SERVICES",
    "DATA PROCESSING SERVICES",
    "INFORMATION MANAGEMENT SERVICES",
    "AGRICULTURAL AQUATIC SCIENCES",
    "AGRICULTURAL CHEMICALS",
    "AGRICULTURAL ENGINEERING",
    "AGRICULTURAL PLANT SCIENCE",
    "ANIMAL COMMODITIES",
    "ANIMAL SCIENCE",
    "FEED PRODUCTS",
    "FOOD SCIENCE",
    "FOREST SCIENCE",
    "PLANT COMMODITIES",
    "SOILS",
    "AEROSOLS",
    "AIR QUALITY",
    "ALTITUDE",
    "ATMOSPHERIC CHEMISTRY",
    "ATMOSPHERIC ELECTRICITY",
    "ATMOSPHERIC PRESSURE",
    "ATMOSPHERIC RADIATION",
    "ATMOSPHERIC TEMPERATURE",
    "ATMOSPHERIC WATER VAPOR",
    "ATMOSPHERIC WINDS",
    "CLOUDS",
    "PRECIPITATION",
    "WEATHER EVENTS",
    "ANIMALS/INVERTEBRATES",
    "ANIMALS/VERTEBRATES",
    "BACTERIA/ARCHAEA",
    "FUNGI",
    "PLANTS",
    "PROTISTS",
    "VIRUSES",
    "ECOLOGICAL DYNAMICS",
    "ECOSYSTEMS",
    "VEGETATION",
    "ATMOSPHERIC/OCEAN INDICATORS",
    "BIOSPHERIC INDICATORS",
    "CARBON FLUX",
    "CLIMATE FEEDBACKS",
    "CRYOSPHERIC INDICATORS",
    "ENVIRONMENTAL VULNERABILITY INDEX (EVI)",
    "LAND SURFACE/AGRICULTURE INDICATORS",
    "PALEOCLIMATE INDICATORS",
    "REGIONAL CLIMATE LEVELS",
    "SUN-EARTH INTERACTIONS",
    "TERRESTRIAL HYDROSPHERE INDICATORS",
    "FROZEN GROUND",
    "GLACIERS/ICE SHEETS",
    "LAND ICE/OCEAN CLASSIFICATION",
    "SEA ICE",
    "SNOW/ICE",
    "BOUNDARIES",
    "ECONOMIC RESOURCES",
    "ENVIRONMENTAL GOVERNANCE/MANAGEMENT",
    "ENVIRONMENTAL IMPACTS",
    "GLOBAL CHANGE RESPONSES",
    "HABITAT CONVERSION/FRAGMENTATION",
    "HUMAN SETTLEMENTS",
    "INFRASTRUCTURE",
    "NATURAL HAZARDS",
    "POPULATION",
    "PUBLIC HEALTH",
    "SOCIAL BEHAVIOR",
    "SOCIOECONOMICS",
    "SUSTAINABILITY",
    "EROSION/SEDIMENTATION",
    "GEOMORPHIC LANDFORMS/PROCESSES",
    "LAND USE/LAND COVER",
    "LANDSCAPE",
    "SURFACE RADIATIVE PROPERTIES",
    "SURFACE THERMAL PROPERTIES",
    "TOPOGRAPHY",
    "AQUATIC SCIENCES",
    "BATHYMETRY/SEAFLOOR TOPOGRAPHY",
    "COASTAL PROCESSES",
    "MARINE ENVIRONMENT MONITORING",
    "MARINE GEOPHYSICS",
    "MARINE SEDIMENTS",
    "MARINE VOLCANISM",
    "OCEAN ACOUSTICS",
    "OCEAN CHEMISTRY",
    "OCEAN CIRCULATION",
    "OCEAN HEAT BUDGET",
    "OCEAN OPTICS",
    "OCEAN PRESSURE",
    "OCEAN TEMPERATURE",
    "OCEAN WAVES",
    "OCEAN WINDS",
    "SALINITY/DENSITY",
    "SEA SURFACE TOPOGRAPHY",
    "TIDES",
    "WATER QUALITY",
    "ICE CORE RECORDS",
    "LAND RECORDS",
    "OCEAN/LAKE RECORDS",
    "PALEOCLIMATE RECONSTRUCTIONS",
    "EARTH GASES/LIQUIDS",
    "GEOCHEMISTRY",
    "GEODETICS",
    "GEOMAGNETISM",
    "GEOTHERMAL DYNAMICS",
    "GRAVITY/GRAVITATIONAL FIELD",
    "ROCKS/MINERALS/CRYSTALS",
    "TECTONICS",
    "GAMMA RAY",
    "INFRARED WAVELENGTHS",
    "LIDAR",
    "MICROWAVE",
    "PLATFORM CHARACTERISTICS",
    "RADAR",
    "RADIO WAVE",
    "SENSOR CHARACTERISTICS",
    "ULTRAVIOLET WAVELENGTHS",
    "VISIBLE WAVELENGTHS",
    "X-RAY",
    "IONOSPHERE/MAGNETOSPHERE DYNAMICS",
    "SOLAR ACTIVITY",
    "SOLAR ENERGETIC PARTICLE FLUX",
    "SOLAR ENERGETIC PARTICLE PROPERTIES",
    "GROUND WATER",
    "SURFACE WATER",
    "WATER BUDGET",
    "WATER QUALITY/WATER CHEMISTRY"
  ]
}

### temporalresolutionrange

In [38]:
KEYWORDS['temporalresolutionrange'][0].columns

Index(['Temporal_Resolution_Range', 'UUID'], dtype='object')

In [39]:
KEYWORDS['temporalresolutionrange'][0]

               Temporal_Resolution_Range                                  UUID
0                    1 minute - < 1 hour  bca20202-2b06-4657-a425-5b0e416bce0c
1                  1 second - < 1 minute  48ff676f-836c-4cff-bc88-4c4cc06b2e1b
2                             < 1 second  42a2f639-d1c3-4e82-a8b8-63f0f4a60ac6
3                     Annual Climatology  af931dca-9a7d-4ba9-b40f-2a21e31f2d5b
4                                 Annual  40e09855-fb48-4a7d-9851-d6e809e6c309
5   Climate Normal (30-year climatology)  f308a8db-40ea-4932-a58c-fb0a093959dc
6                       Daily - < Weekly  1ac968ef-a90a-4ffc-adbf-ea0c0d69a7f9
7                      Daily Climatology  f86e464a-cf9d-4e15-a39b-501855d1dc5a
8                                Decadal  3d97e993-dc6a-41ff-8a49-3e837c1fc2b1
9                                Diurnal  99ef187e-6940-4c10-8d65-00d4426d493b
10                      Hourly - < Daily  31765761-b153-478a-92b3-1088997fd74b
11                    Hourly Climatology  027dee16-b361-481e-868d-add966eb5b71
12                    Monthly - < Annual  8900c323-8789-4403-91e9-c399de369935
13                   Monthly Climatology  8c8c70b1-f6c5-4f34-89b5-510049b8c8ab
14                    Pentad Climatology  e0040d4b-e398-4b65-bd42-d39434b5cc95
15                              Seasonal  7c5420a6-94e2-40ca-9dff-20309090d327
16                             Subannual  7afdb8ba-a504-45b6-b301-730e3c69d23a
17                    Weekly - < Monthly  7b2a303c-3cb7-4961-9851-650548964674
18                    Weekly Climatology  2de882f0-d84a-471e-8fb5-9f8a1c7913c1

### verticalresolutionrange

In [40]:
KEYWORDS['verticalresolutionrange'][0].columns

Index(['Vertical_Resolution_Range', 'UUID'], dtype='object')

In [41]:
KEYWORDS['verticalresolutionrange'][0]

  Vertical_Resolution_Range                                  UUID
0     1 meter - < 10 meters  201337ea-fa14-4e58-a538-e92c5ff734a4
1   10 meters - < 30 meters  20505a5b-4df8-4430-83a3-ad7b212c9bfc
2       100 meters - < 1 km  eccf8700-c503-46a3-b6f7-86cf7e48465a
3  30 meters - < 100 meters  a66aa809-5320-408d-9cbe-86ed7940b8ec
4                 < 1 meter  cf1f085e-4948-4874-9640-e236fff7bc8d
5                    > 1 km  3f0aa4fc-802c-4804-9f9f-8b666f3a2776
6          Point Resolution  0893353d-4e8c-4b31-bcc5-fce552ccfff3

## cf standard_name summaries

## smode

Use curative approach to cross-reference and populate metadata tables.

Check for files in smode [`../references`](../references/) + [`../references/attributes`](../references/attributes/) directories:

In [42]:
from glob import glob
refs_dir = "../references"
atts_dir = f"{refs_dir}/attributes"
_refs, _atts = glob(f"{refs_dir}/*"), glob(f"{atts_dir}/*")
_refs, _atts

(['../references/references.json',
  '../references/people.csv',
  '../references/authors.json',
  '../references/README.md',
  '../references/attributes',
  '../references/instruments.csv'],
 ['../references/attributes/attribute-reference_1_2.xlsx',
  '../references/attributes/attribute-reference_FB.xlsx',
  '../references/attributes/README.md',
  '../references/attributes/~$attribute-reference_1_2.xlsx',
  '../references/attributes/attribute-reference_1_1.xlsx'])

This JSON will manage the details to describe each of the contents of the smode references directory.

In [43]:
references = {splitext(basename(f))[0].upper(): (f, "<file_description>",
    ) for f in _refs if isfile(f) and not f.endswith("README.md")}

references

{'REFERENCES': ('../references/references.json', '<file_description>'),
 'PEOPLE': ('../references/people.csv', '<file_description>'),
 'AUTHORS': ('../references/authors.json', '<file_description>'),
 'INSTRUMENTS': ('../references/instruments.csv', '<file_description>')}

In [44]:
with open("../references/references.json", "w") as f:
    f.write(dumps(references, indent=2))

### datasets

Read the files we started with and manipulate.

In [45]:
dset = read_excel(_atts[0], sheet_name=1, names=[
    'ID',
    'LEVEL',
    'DESCRIPTION',
    'PEOPLE',
    'INSTITUTION',
    'VOLUME',
    'FORMAT',
    'TEMPLATE',
])
dset.iloc[0]

ID                    SMODE-KABR2
LEVEL                          L2
DESCRIPTION         Ka-band radar
PEOPLE         Rodriguez, Siquera
INSTITUTION           UMass / JPL
VOLUME                  TBD / TBD
FORMAT                     netCDF
TEMPLATE                      NaN
Name: 0, dtype: object

#### cleanup

In [46]:
dset.VOLUME.at[17] = "TBD / TBD"
dset.VOLUME.at[18] = "TBD / TBD"
dset['FILE_VOLUME'] = dset.VOLUME.apply(lambda x: x.split(" / ")[0])
dset['TOTAL_VOLUME'] = dset.VOLUME.apply(lambda x: x.split(" / ")[1])
dset.iloc[0]

ID                     SMODE-KABR2
LEVEL                           L2
DESCRIPTION          Ka-band radar
PEOPLE          Rodriguez, Siquera
INSTITUTION            UMass / JPL
VOLUME                   TBD / TBD
FORMAT                      netCDF
TEMPLATE                       NaN
FILE_VOLUME                    TBD
TOTAL_VOLUME                   TBD
Name: 0, dtype: object

Use JSON as the reference format for columns/fields that are lists or otherwise nested.

**Turn the enum columns into reference files.**

These are the master copies of the curated metadata. We merge all optimizations into these.

In [47]:
dset.PEOPLE = dset.PEOPLE.apply(lambda x: x.split(" / "))
dset.PEOPLE.iloc[0]

['Rodriguez, Siquera']

In [48]:
_people = dset.PEOPLE.apply(lambda x: [n.upper().replace("'", "") for n in x])
authors = dict(zip(dset.ID.tolist(), _people))
authors

{'SMODE-KABR2': ['RODRIGUEZ, SIQUERA'],
 'SMODE-POLC2': ['ZAPPA'],
 'SMODE-DSCA2': ['RODRIGUEZ, SIQUERA'],
 'SMODE-PRSM0': ['GIERACH, THOMPSON'],
 'SMODE-PRSM1': ['GIERACH, THOMPSON'],
 'SMODE-PRSM2': ['GIERACH, THOMPSON'],
 'SMODE-MASS0': ['LENAIN'],
 'SMODE-MASS1': ['LENAIN'],
 'SMODE-MOSE0': ['MOLEMAKER'],
 'SMODE-MOSE1': ['MOLEMAKER'],
 'SMODE-MOSE2': ['MOLEMAKER'],
 'SMODE-MOSE3': ['MOLEMAKER'],
 'SMODE-DSCT0': ['RODRIGUEZ'],
 'SMODE-DSCT1': ['RODRIGUEZ'],
 'SMODE-DSCT2': ['RODRIGUEZ'],
 'SMODE-CTD00': ['OMAND'],
 'SMODE-UCTD0': ['OMAND'],
 'SMODE-UNOLS': ['OMAND'],
 'SMODE-BIOPT': ['OMAND, MAHADEVAN'],
 'SMODE-GLID3': ['FARRAR'],
 'SMODE-FLOAT': ['SHCHERBINA'],
 'SMODE-DRIFT': ['SHCHERBINA'],
 'SMODE-SDRON': ['ROCHA'],
 'SMODE-SONDE': ['ONEILL'],
 'SMODE-GLID1': ['FARRAR'],
 'SMODE-SUNA2': ['MAHADAVAN'],
 'SMODE-ECTD2': ['MAHADAVAN']}

This will be my lookup for the authorship details.

In [49]:
with open("../references/authors.json", "w") as f:
    f.write(dumps(authors, indent=2))

Now make sure I've captured all the people involved:

In [50]:
_people = list(set(",".join(_people.apply(lambda x: ",".join(x)).tolist()).replace(" ","").split(",")))
_people

['SIQUERA',
 'ZAPPA',
 'THOMPSON',
 'LENAIN',
 'FARRAR',
 'ONEILL',
 'SHCHERBINA',
 'RODRIGUEZ',
 'MAHADAVAN',
 'ROCHA',
 'GIERACH',
 'MOLEMAKER',
 'OMAND',
 'MAHADEVAN']

In [51]:
print(references['PEOPLE'][0])
_peopold = read_csv(references['PEOPLE'][0], header=None, names=['ROLE', 'person'])
_peopold

../references/people.csv

,ROLE,person
0,Principal Investigator,J. Tom Farrar (Woods Hole Oceanographic Instit...
1,Deputy Principal Investigator,Paul Matthias (Woods Hole Oceanographic Instit...
2,Deputy PI for Science Data Analysis,Eric D'Asaro (University of Washington)
3,Deputy PI for In Situ Measurements,Andrey Shcherbina (University of Washington)
4,Deputy PI for Aircraft Measurements,Ernesto Rodriguez (NASA Jet Propulsion Laborat...
5,ESSP Program Manager,Gregory Stover (NASA Langley Research Center)
6,EVS-3 Mission Manager,Jennifer Olson (NASA Langley Research Center)
7,Program Scientist - Physical Oceanography Program,Nadya Vinogradova-Shiffer (NASA Headquarters)
8,ESPO Project Manager,Erin Czech (NASA Ames Research Center)

In [52]:
_peopold = _peopold[['person', 'ROLE']].copy()
_peopold['NAME'] = _peopold.person.apply(lambda x: x.split(" (")[0])
_peopold['ID'] = _peopold.person.apply(lambda x: x.split(" (")[0].split(" ")[-1].replace("'","").upper())
_peopold['INSTITUTION'] = _peopold.person.apply(lambda x: x.split(" (")[1][:-1])
_peopold = _peopold.set_index("ID").copy()
_peopold = _peopold[['NAME', 'ROLE', 'INSTITUTION']]
_peopold

,NAME,ROLE,INSTITUTION
ID,,,
FARRAR,J. Tom Farrar,Principal Investigator,Woods Hole Oceanographic Institution
MATTHIAS,Paul Matthias,Deputy Principal Investigator,Woods Hole Oceanographic Institution
DASARO,Eric D'Asaro,Deputy PI for Science Data Analysis,University of Washington
SHCHERBINA,Andrey Shcherbina,Deputy PI for In Situ Measurements,University of Washington
RODRIGUEZ,Ernesto Rodriguez,Deputy PI for Aircraft Measurements,NASA Jet Propulsion Laboratory
STOVER,Gregory Stover,ESSP Program Manager,NASA Langley Research Center
OLSON,Jennifer Olson,EVS-3 Mission Manager,NASA Langley Research Center
VINOGRADOVA-SHIFFER,Nadya Vinogradova-Shiffer,Program Scientist - Physical Oceanography Program,NASA Headquarters
CZECH,Erin Czech,ESPO Project Manager,NASA Ames Research Center

In [53]:
_in0, _out0 = [], []
for ix, row in _peopold.iterrows():
    _is_in = ix in _people
    if _is_in:
        _in0.append(ix)
    else:
        _out0.append(ix)
        
print(f"# IN:\n{_in0}")
print(f"# OUT:\n{_out0}")

_in1, _out1 = [], []
for o in _people:
    _is_in = o in _peopold.index.values.tolist()
    if _is_in:
        _in1.append(o)
    else:
        _out1.append(o)
        
print(f"# IN:\n{_in1}")
print(f"# OUT:\n{_out1}")

# IN:
['FARRAR', 'SHCHERBINA', 'RODRIGUEZ']
# OUT:
['MATTHIAS', 'DASARO', 'STOVER', 'OLSON', 'VINOGRADOVA-SHIFFER', 'CZECH']
# IN:
['FARRAR', 'SHCHERBINA', 'RODRIGUEZ']
# OUT:
['SIQUERA', 'ZAPPA', 'THOMPSON', 'LENAIN', 'ONEILL', 'MAHADAVAN', 'ROCHA', 'GIERACH', 'MOLEMAKER', 'OMAND', 'MAHADEVAN']

In [54]:
_new_people = DataFrame(
    [(p, p.lower(), "Co-Investigator", None) for p in _out1],
    columns=['ID'] + list(_peopold.columns),
)
_new_people = _new_people.set_index("ID", drop=True).copy()
_new_people

                NAME             ROLE INSTITUTION
ID
SIQUERA      siquera  Co-Investigator        None
ZAPPA          zappa  Co-Investigator        None
THOMPSON    thompson  Co-Investigator        None
LENAIN        lenain  Co-Investigator        None
ONEILL        oneill  Co-Investigator        None
MAHADAVAN  mahadavan  Co-Investigator        None
ROCHA          rocha  Co-Investigator        None
GIERACH      gierach  Co-Investigator        None
MOLEMAKER  molemaker  Co-Investigator        None
OMAND          omand  Co-Investigator        None
MAHADEVAN  mahadevan  Co-Investigator        None

Harvest some info from the table that we've already come up with for the global attributes. Read corresponding sheet from the XLSX to variable `glbl`:

In [55]:
glbl = read_excel(_atts[0], sheet_name=0)
glbl_people = glbl[['DOI', 'creator_name', 'creator_institution']]
glbl_people

            DOI                          creator_name    creator_institution
0   SMODE-KABR2       Ernesto Rodriguez, Paul Siquera               UMASS-A/
1   SMODE-POLC2                  Christopher J. Zappa          COLUMBIA/LDEO
2   SMODE-DSCA2       Ernesto Rodriguez, Paul Siquera               UMASS-A/
3   SMODE-PRSM0  Michelle M. Gierach, Andrew Thompson  NASA/JPL, CALTECH/GPS
4   SMODE-PRSM1  Michelle M. Gierach, Andrew Thompson  NASA/JPL, CALTECH/GPS
5   SMODE-PRSM2  Michelle M. Gierach, Andrew Thompson  NASA/JPL, CALTECH/GPS
6   SMODE-MASS0                            Luc Lenain      UC SAN DIEGO/SIO/
7   SMODE-MASS1                            Luc Lenain      UC SAN DIEGO/SIO/
8   SMODE-MASS2                            Luc Lenain      UC SAN DIEGO/SIO/
9   SMODE-MOSE0                      Jeroen Molemaker                  UCLA/
10  SMODE-MOSE1                      Jeroen Molemaker                  UCLA/
11  SMODE-MOSE2                      Jeroen Molemaker                  UCLA/
12  SMODE-MOSE3                      Jeroen Molemaker                  UCLA/
13  SMODE-DSCT0                     Ernesto Rodriguez               NASA/JPL
14  SMODE-DSCT1                     Ernesto Rodriguez               NASA/JPL
15  SMODE-DSCT2                     Ernesto Rodriguez               NASA/JPL
16  SMODE-RVUCT                         Melissa Omand                   URI/
17  SMODE-RVCTD                         Melissa Omand                   URI/
18  SMODE-RVMET                         Melissa Omand                   URI/
19  SMODE-RVADC                         Melissa Omand                   URI/
20  SMODE-RVTSG                         Melissa Omand                   URI/
21  SMODE-RVECT                       Amala Mahadevan                  WHOI/
22  SMODE-RVSUN                       Amala Mahadevan                  WHOI/
23  SMODE-RVBIO        Melissa Omand, Amala Mahadevan                   URI/
24  SMODE-GLID3                            Tom Farrar                  WHOI/
25  SMODE-FLOAT                     Andrey Shcherbina                   UWA/
26  SMODE-DRIFT                     Andrey Shcherbina                   UWA/
27  SMODE-SDRON                         Cesar B Rocha                  WHOI/
28  SMODE-SONDE                         Larry O'Neill              OR-STATE/
29  SMODE-GLID1                            Tom Farrar                  WHOI/

In [56]:
def _connect_people(x: str):
    if x not in ",".join(glbl_people.creator_name.tolist()).lower():
        return None
    return glbl_people[glbl_people.creator_name.apply(lambda y: x in y.lower())].to_dict()


tmp_people = _new_people.NAME.apply(_connect_people)
print(dumps(tmp_people.iloc[0], indent=2))

{
  "DOI": {
    "0": "SMODE-KABR2",
    "2": "SMODE-DSCA2"
  },
  "creator_name": {
    "0": "Ernesto Rodriguez, Paul Siquera",
    "2": "Ernesto Rodriguez, Paul Siquera"
  },
  "creator_institution": {
    "0": "UMASS-A/",
    "2": "UMASS-A/"
  }
}

In [57]:
tmp_people

ID
SIQUERA      {'DOI': {0: 'SMODE-KABR2', 2: 'SMODE-DSCA2'}, ...
ZAPPA        {'DOI': {1: 'SMODE-POLC2'}, 'creator_name': {1...
THOMPSON     {'DOI': {3: 'SMODE-PRSM0', 4: 'SMODE-PRSM1', 5...
LENAIN       {'DOI': {6: 'SMODE-MASS0', 7: 'SMODE-MASS1', 8...
ONEILL                                                    None
MAHADAVAN                                                 None
ROCHA        {'DOI': {27: 'SMODE-SDRON'}, 'creator_name': {...
GIERACH      {'DOI': {3: 'SMODE-PRSM0', 4: 'SMODE-PRSM1', 5...
MOLEMAKER    {'DOI': {9: 'SMODE-MOSE0', 10: 'SMODE-MOSE1', ...
OMAND        {'DOI': {16: 'SMODE-RVUCT', 17: 'SMODE-RVCTD',...
MAHADEVAN    {'DOI': {21: 'SMODE-RVECT', 22: 'SMODE-RVSUN',...
Name: NAME, dtype: object

In [58]:
_tmp_people = tmp_people.apply(lambda x: None if x is None else list(set(x['creator_institution'].values()))[0])
_tmp_people

ID
SIQUERA                   UMASS-A/
ZAPPA                COLUMBIA/LDEO
THOMPSON     NASA/JPL, CALTECH/GPS
LENAIN           UC SAN DIEGO/SIO/
ONEILL                        None
MAHADAVAN                     None
ROCHA                        WHOI/
GIERACH      NASA/JPL, CALTECH/GPS
MOLEMAKER                    UCLA/
OMAND                         URI/
MAHADEVAN                    WHOI/
Name: NAME, dtype: object

In [59]:
_tmp_people['GIERACH'] = "NASA/JPL"
_tmp_people['THOMPSON'] = "CALTECH/GPS"
_tmp_people['MAHADAVAN'] = "URI"
_tmp_people['ONEILL'] = "OR/STATE"
_tmp_people = _tmp_people.apply(lambda x: x.replace("/", " ").strip().split(" "))
_tmp_people

ID
SIQUERA                  [UMASS-A]
ZAPPA             [COLUMBIA, LDEO]
THOMPSON            [CALTECH, GPS]
LENAIN       [UC, SAN, DIEGO, SIO]
ONEILL                 [OR, STATE]
MAHADAVAN                    [URI]
ROCHA                       [WHOI]
GIERACH                [NASA, JPL]
MOLEMAKER                   [UCLA]
OMAND                        [URI]
MAHADEVAN                   [WHOI]
Name: NAME, dtype: object

In [60]:
_peopold.INSTITUTION

ID
FARRAR                 Woods Hole Oceanographic Institution
MATTHIAS               Woods Hole Oceanographic Institution
DASARO                             University of Washington
SHCHERBINA                         University of Washington
RODRIGUEZ                    NASA Jet Propulsion Laboratory
STOVER                         NASA Langley Research Center
OLSON                          NASA Langley Research Center
VINOGRADOVA-SHIFFER                       NASA Headquarters
CZECH                             NASA Ames Research Center
Name: INSTITUTION, dtype: object

In [61]:
_search_peopold = [[*l[0].split(" "), *l[1]] for l in list(zip([
    'WHOI',
    'WHOI',
    'UW',
    'UW',
    'NASA JPL',
    'NASA LARC',
    'NASA LARC',
    'NASA HQ',
    'NASA ARC', 
], _peopold.INSTITUTION.apply(lambda x: x.split(" ")).tolist()))]

_search_peopold

[['WHOI', 'Woods', 'Hole', 'Oceanographic', 'Institution'],
 ['WHOI', 'Woods', 'Hole', 'Oceanographic', 'Institution'],
 ['UW', 'University', 'of', 'Washington'],
 ['UW', 'University', 'of', 'Washington'],
 ['NASA', 'JPL', 'NASA', 'Jet', 'Propulsion', 'Laboratory'],
 ['NASA', 'LARC', 'NASA', 'Langley', 'Research', 'Center'],
 ['NASA', 'LARC', 'NASA', 'Langley', 'Research', 'Center'],
 ['NASA', 'HQ', 'NASA', 'Headquarters'],
 ['NASA', 'ARC', 'NASA', 'Ames', 'Research', 'Center']]

In [79]:
_peopold.INSTITUTION = _search_peopold
_peopold

,NAME,ROLE,INSTITUTION
ID,,,
FARRAR,J. Tom Farrar,Principal Investigator,"[WHOI, Woods, Hole, Oceanographic, Institution]"
MATTHIAS,Paul Matthias,Deputy Principal Investigator,"[WHOI, Woods, Hole, Oceanographic, Institution]"
DASARO,Eric D'Asaro,Deputy PI for Science Data Analysis,"[UW, University, of, Washington]"
SHCHERBINA,Andrey Shcherbina,Deputy PI for In Situ Measurements,"[UW, University, of, Washington]"
RODRIGUEZ,Ernesto Rodriguez,Deputy PI for Aircraft Measurements,"[NASA, JPL, NASA, Jet, Propulsion, Laboratory]"
STOVER,Gregory Stover,ESSP Program Manager,"[NASA, LARC, NASA, Langley, Research, Center]"
OLSON,Jennifer Olson,EVS-3 Mission Manager,"[NASA, LARC, NASA, Langley, Research, Center]"
VINOGRADOVA-SHIFFER,Nadya Vinogradova-Shiffer,Program Scientist - Physical Oceanography Program,"[NASA, HQ, NASA, Headquarters]"
CZECH,Erin Czech,ESPO Project Manager,"[NASA, ARC, NASA, Ames, Research, Center]"

Now concatenate the two data frames together for the full list of people. (We could still be missing a couple few)

In [80]:
_new_people.INSTITUTION = _tmp_people
_all_people = concat([_peopold, _new_people])
_all_people

,NAME,ROLE,INSTITUTION
ID,,,
FARRAR,J. Tom Farrar,Principal Investigator,"[WHOI, Woods, Hole, Oceanographic, Institution]"
MATTHIAS,Paul Matthias,Deputy Principal Investigator,"[WHOI, Woods, Hole, Oceanographic, Institution]"
DASARO,Eric D'Asaro,Deputy PI for Science Data Analysis,"[UW, University, of, Washington]"
SHCHERBINA,Andrey Shcherbina,Deputy PI for In Situ Measurements,"[UW, University, of, Washington]"
RODRIGUEZ,Ernesto Rodriguez,Deputy PI for Aircraft Measurements,"[NASA, JPL, NASA, Jet, Propulsion, Laboratory]"
STOVER,Gregory Stover,ESSP Program Manager,"[NASA, LARC, NASA, Langley, Research, Center]"
OLSON,Jennifer Olson,EVS-3 Mission Manager,"[NASA, LARC, NASA, Langley, Research, Center]"
VINOGRADOVA-SHIFFER,Nadya Vinogradova-Shiffer,Program Scientist - Physical Oceanography Program,"[NASA, HQ, NASA, Headquarters]"
CZECH,Erin Czech,ESPO Project Manager,"[NASA, ARC, NASA, Ames, Research, Center]"
SIQUERA,siquera,Co-Investigator,[UMASS-A]
ZAPPA,zappa,Co-Investigator,"[COLUMBIA, LDEO]"
THOMPSON,thompson,Co-Investigator,"[CALTECH, GPS]"
LENAIN,lenain,Co-Investigator,"[UC, SAN, DIEGO, SIO]"
ONEILL,oneill,Co-Investigator,"[OR, STATE]"
MAHADAVAN,mahadavan,Co-Investigator,[URI]
ROCHA,rocha,Co-Investigator,[WHOI]
GIERACH,gierach,Co-Investigator,"[NASA, JPL]"
MOLEMAKER,molemaker,Co-Investigator,[UCLA]
OMAND,omand,Co-Investigator,[URI]
MAHADEVAN,mahadevan,Co-Investigator,[WHOI]

In [81]:
_all_people.to_csv("../references/people2.csv")

In [87]:
print("\n".join([i.split("(")[1][:-1] for i in """J. Tom Farrar (Woods Hole Oceanographic Institution)
Paul Matthias (Woods Hole Oceanographic Institution)
Eric D'Asaro (University of Washington)
Andrey Shcherbina (University of Washington)
Ernesto Rodriguez (NASA Jet Propulsion Laboratory)
Gregory Stover (NASA Langley Research Center)
Jennifer Olson (NASA Langley Research Center)
Nadya Vinogradova-Shiffer (NASA Headquarters)
Erin Czech (NASA Ames Research Center)""".split("\n")]))

Woods Hole Oceanographic Institution
Woods Hole Oceanographic Institution
University of Washington
University of Washington
NASA Jet Propulsion Laboratory
NASA Langley Research Center
NASA Langley Research Center
NASA Headquarters
NASA Ames Research Center

Now compare row-wise against the providers table to see if there are any matches. Score them by the number of strings that are present in each keyword row joined to a string.

In [78]:
KEYWORDS['providers'][0].Long_Name = KEYWORDS['providers'][0].Long_Name.apply(lambda x: str(x).lower())
KEYWORDS['providers'][0]

,Bucket_Level0,Bucket_Level1,Bucket_Level2,Bucket_Level3,Short_Name,Long_Name,Data_Center_URL,UUID
0,ACADEMIC,GERMANY,NaN,NaN,DE/DLR,german aerospace center (dlr),NaN,2f9d7c12-c02d-41fb-a168-4d91794187f7
1,ACADEMIC,GERMANY,NaN,NaN,NaN,nan,NaN,d780c4ea-4b39-4fda-a0d3-4f5bee42530d
2,ACADEMIC,NaN,NaN,NaN,AALTO-AM,"aalto university, school of engineering, depar...",NaN,28b4870a-e36c-4f9a-8810-5cf6d73c5f66
3,ACADEMIC,NaN,NaN,NaN,AALTO,aalto university,NaN,d50d54e6-6ea5-4579-bbc7-98afffd8b443
4,ACADEMIC,NaN,NaN,NaN,AARHUS-HYDRO,"hydrogeophysics group, aarhus university",NaN,bd197c6d-8612-42c2-a818-1975c4911e45
...,...,...,...,...,...,...,...,...
3663,U.S. STATE/REGIONAL/LOCAL AGENCIES,WESTERN REGION,NaN,NaN,NaN,nan,NaN,67a6312d-9164-48c9-86b5-310320a1f50c
3664,U.S. STATE/REGIONAL/LOCAL AGENCIES,WYOMING,NaN,NaN,WY/CLIM,"state climatologist office, wyoming",http://www-wwrc.uwyo.edu/wrds/wsc/wsc.html,0d06fcca-2b9f-4b27-aba1-9d1c3dd403eb
3665,U.S. STATE/REGIONAL/LOCAL AGENCIES,WYOMING,NaN,NaN,WY/TC/DEM,"department of emergency management,teton count...",http://www.tetonwyo.org/em/,d51f97c7-387a-4794-b445-bb1daa486cde
3666,U.S. STATE/REGIONAL/LOCAL AGENCIES,WYOMING,NaN,NaN,NaN,nan,NaN,b9b55690-eeb1-4ac5-88c8-d87e2395fccc
3667,U.S. STATE/REGIONAL/LOCAL AGENCIES,NaN,NaN,NaN,NaN,nan,NaN,c2dbd735-cc3c-4645-91c7-1f72a7f2b938

In [ ]:
#KEYWORDS['providers'][0].apply(lambda x: f'''{x.values.tolist()}'''.lower(), axis=1)

# PLAN: Search & Score

In [ ]:
len(_tmp_peopold)

In [ ]:
dset

In [ ]:
_peopold.index.size

Now turn the `DESCRIPTION` column into `sources.json` with some string chops:

In [ ]:
#dset.DESCRIPTION

In [ ]:
.at[17] = "TBD / TBD"
dset.VOLUME.at[18] = "TBD / TBD"
dset['FILE_VOLUME'] = dset.VOLUME.apply(lambda x: x.split(" / ")[0])
dset['TOTAL_VOLUME'] = dset.VOLUME.apply(lambda x: x.split(" / ")[1])
dset.iloc[0]

A few minor improvements first:

#### map/index

An index (or the starting point for one):

In [ ]:
DSIX = DSET.copy()
DSIX.style.set_properties(subset=['ID', 'LEVEL', 'PEOPLE', 'INSTITUTION', 'FORMAT'], **{'text-align': 'center'})
DSIX = DSET.copy().set_index("ID")

# GROW THESE REFERENCE TABLES (WIDE) BY MAPPING
# GCMD, CF, NCEI, etc KEYWORDS/VOCABULARIES:
DSIX_REFS = {
    'LEVEL': None,
    'PEOPLE': "../references/people.csv",
    'INSTITUTION': "../references/institutions.csv",
    'FORMAT': None,
    'VOLUME': None,
    'DESCRIPTION': None,
}

DSIX[list(DSIX_REFS.keys())[1:]]

Improve the original table a little bit.

In [ ]:
DSET['DESCRIPTION'] = DSET.DATASET.copy()
DSET[]

In [ ]:
DSID = DSET[['DATASET', 'LEVEL', 'PEOPLE', 'INSTITUTION', 'FORMAT']].copy().reset_index(drop=True)
DSID.style.set_properties(subset=['DATASET'], **{'text-align': 'left'})
DSID.style.set_properties(subset=['LEVEL', 'PEOPLE', 'INSTITUTION', 'FORMAT'], **{'text-align': 'center'})

### maps

Lookups that grow and refine to describe the `DSET` fields.

In [ ]:
MAPS = {
    'ID': None, 
    'DATASET': None, 
    'LEVEL': None, 
    'PEOPLE': None, 
    'INSTITUTION': None, 
    'FORMAT': None, 
}

DSET[]

### instruments

In [ ]:
INST = read_csv("../references/instruments.csv")
INST

### people

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

```python
FILE,
sheet_name=0,
header=0,
names=None,
index_col=None,
usecols=None,
squeeze=False,
dtype=None,
engine=None,
converters=None,
true_values=None,
false_values=None,
skiprows=None,
nrows=None,
na_values=None,
keep_default_na=True,
verbose=False,
parse_dates=False,
date_parser=None,
thousands=None,
comment=None,
skipfooter=0,
convert_float=True,
mangle_dupe_cols=True,
```

### netcdf

#### global attributes

In [ ]:
ATTS = read_excel(_atts[0], sheet_name=2)
ATTS.head()

In [ ]:
GLOB = read_excel(_atts[0], sheet_name=0)
list(GLOB.columns)